<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" >
	<title>Remove Processed</title>
</head>

<body>
	<h1>Removal of All Voters</h1>
    <a>All voters have been removed from the database. Number of voters removed: </a> <%- removedNum %>
    <br>
	<br>
	<a href="http://localhost:<%- portNum%>/">HOME</a>
</body>

</html>